@(authors : Seq[models.Author])()
@this(main: main)
@main() {
    <div class="author-display" >
        <fieldset>
            <legend align="center"><h3>Authors</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>authorid</th>
                    <th>name</th>
                </tr>
                @for(author <- authors){
                <tr>
                    <td>@author.author_id</td>
                    <td>@author.author_name</td>
                    <td><a href="@routes.HomeController.index">Книги</a></td>
                </tr>
                }
            </table>
        </fieldset>
    </div>
}